body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(120deg, #1a1a1d, #2d2d34);
  color: #fff;
  padding: 20px;
  margin: 0;
}

.leaderboard-container {
  max-width: 420px;
  margin: 80px auto;
  background: rgba(255, 255, 255, 0.05);
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}


input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 16px;
}

#leaderboard-list li {
    display: flex;              
    justify-content: space-between; 
    align-items: center;        
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

button {
  margin-top: 0; 
  padding: 10px 20px;
  background-color: #2563eb; 
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
  width: auto; 
}

button:hover {
  background: #2988b4;
}


a {
  display: block;
  margin-top: 16px;
  color: #90caf9;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}

a:hover {
  color: #b5dcff;
}




